PORT=5000
MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/student-supervisor
JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me_too
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
EMAIL_PROVIDER_API_KEY=your_resend_or_sendgrid_key
CLIENT_URL=http://localhost:5173